/* CSS по тэгу */
p {
    color:brown;
    font-size: 20px;
    font-style: italic;
}
/* CSS по классу */
.button {
    color:darkblue;
    background-color: bisque;
    border-style: double;
    border-color: burlywood;
}
.header {
    margin: 2%;
    border-bottom: 3px;
    border-bottom-style:double;
}
.aNav {
    block-size: 20%;
    height: 20%;
    font-style:italic;
}
nav {
    background: fixed;
    background-color: rgb(183, 243, 243);
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
}

nav a {
    color: rgb(35, 11, 100);
    margin-left: 1%;
    margin-right: 1%;
    font-style: normal;
}

nav a:active {
    color: rgb(89, 53, 189);
    border: 2px;
    border-color: rgb(39, 38, 38);
}

/* CSS по ID */
#img1 {
    border: 8px;
    border-style: groove;
    border-color: rgb(245, 102, 102);
    width: 20%;
}

body {
    background-color: rgb(247, 253, 253);
}
