* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

.conteiner {
    width: 50%;
    height: 80%;
    max-height: 700px;
    background-color: white;
    margin: 2% auto;
    border: 1px solid rgb(90, 185, 185);
    border-radius: 4px;
}

.expr-string {
    text-align: right;
    height: 5%;
    padding: 1% 2% 0;
    color: gray;
    font-size: 140%;
}
.output-text {
    border: 1px solid rgb(164, 164, 164);
    border-radius: 4px;
    margin: 1% 2%;
    height: 10%;
    padding: 1% 2% 0.5%;
    text-align: right;
    color: grey;
    font-size: 180%;
}

.main-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1%;
    padding: 2%;
    height: 74%;

}

button {
    padding: 10%, auto;

}