html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

#base-area {
    width: 60%;
    height: 80%;
    margin: 1% auto 0;
    background-color: rgb(238, 238, 238);
}

.buttons {
    padding: 3%;
    display: flex;
    justify-content:space-between;
}

button {
    width: 25%;
    padding: 1.2%;
    background-color: rgb(83, 158, 204);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(60, 120, 156);
}

button:active {
    translate: 0 1px;
}

#month-data {
    text-align: center;
    font-size: 180%;
    padding: 0;
    margin: 0;
}

#celendar {
    justify-content: center;
    margin: 2%;
}

table {
    margin: 0 auto;
    border: 1px solid grey;
}

th {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
}