.centrator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.block {
    width: 58%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border: 1px solid rgb(34, 226, 252);
    border-radius: 4px;
    margin-bottom: 2%;
    background-color: rgb(245, 245, 245);
}

.block h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.block p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

footer {
    text-align: center;
    color: grey;
}