html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#textarea {
    width: 80%;
    height: 150px;
    background-color: rgb(243, 234, 234);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-sizing: content-box;
    justify-content: center;
}

#innerText {
    width: 90%;
    height: 80%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid grey;
    text-align: justify;
    padding: 1%;
    box-sizing: border-box;
    overflow: auto;
    resize: none;
}

#keyboard {
    width: 100%;
    height: calc(100% - 242px);
    background-color: rgb(128, 128, 128);
    padding: 1px;
}

button {
    background-color: rgb(110, 110, 110);
    color: white
}

.button {
    width: 50px;
    height: 50px;
}

.base-button {
    width: 200px;
    height: 50px;
}

.keyboard-line {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    margin: 8px
}