#main-conteiner {
    background-color: rgb(234, 234, 234);
    width: 900px;
    min-height: 500px;
    margin: 0 auto;
    padding: 1px;
}

#header {
    text-align: center;
}

#header p {
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    font-size: 120%;
}

#buttons {
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    background-color: rgb(180, 180, 180);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(128, 128, 128);
    color: white;
}

button:active {
    translate: 0 1px;
    transition-duration: 0.1s;
}

#table-div {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 1px;
    margin: 1px;
    text-align: center;
}

td {
    width: 40px;
    height: 40px;
    background-color: rgb(165, 165, 165);
}

.right {
    background-color: rgb(221, 255, 219);
}

.not-right {
    background-color: rgb(255, 84, 84);
}

table {
    border: 1px solid black;
    margin: 0 auto;
}

.done {
    animation: playDone;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes playDone {
    0% {
        background-color: rgb(165, 165, 165)
    }
    50% {
        background-color: rgb(228, 228, 228)
    }
    100% {
        background-color: rgb(165, 165, 165)
    }
}

.result {
    font-size: 400%;
    animation: result;
    animation-duration: 1s;
}

@keyframes result {
    from {
        font-size: 0;
    }

    to {
        font-size: 400%;
    }
}

.is-winner {
    color: rgb(76, 104, 76);
}

.is-fault {
    color: rgb(138, 59, 59);
}

#cellTime {
    font-size: 120%;
}