* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

.color {
    background-color: rgb(208, 220, 247);
    border-color: rgb(165, 178, 209);
}
.header {
    text-align: center;
    padding: 2%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    border-top-width: 2px;
    border-top-style: solid;
    text-align: center;
}

.footer p {
    color: rgb(95, 94, 94);
}

.footer a {
    text-decoration: underline;
    font-style: italic;
    color: rgb(78, 78, 78);
}

.footer a:hover {
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
}

.tasks {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.task {
    border: 2px dashed rgb(99, 99, 99);
    padding: 3%;
    margin: 2%;
    text-align: center;
}

.task h2 {
    text-align: center;
}

.task p {
    text-align: justify;
    margin: 2% 0;
}

button {
    margin: 1%;
    padding: 1% 2%;
    border-radius: 4px;
    border: none;
    background-color: rgb(208, 220, 247);
}

button:hover {
    background-color: rgb(165, 178, 209);
}

button:active {
    background-color: rgb(120, 131, 156);
    color: white;
    translate: 0 2px;
}

.shadow {
    width: 100%;
    height: 100vh;
    background-color: rgb(80, 80, 80, 0.8);
    position: fixed;
    box-sizing: border-box;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution {
    background-color: white;
    width: 50%;
    height: 80%;
    max-width: 600px;
    max-height: 800px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 50px 5px rgb(56, 56, 56);
}

#close {
    float: right;
}