body {
 background-color: rgb(207, 207, 207);
}

div {
    width: 25%;
    height: 100%;
    background-color: white;
    display: inline-block;
    margin: 3%;
    border-radius: 2%;
}

img {
    margin: 10%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    margin: 10%;
    padding: 6%;
    background-color: rgb(253, 245, 235);
}
