* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

.base-color {
    background-color: rgb(170, 197, 197);
    border-color: rgb(133, 155, 155);
}

.header {
    text-align: center;
    padding: 20px 20px 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.header h1 {
    margin-bottom: 20px;
}

#task-menu {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px 0 15px;
    background-color: rgb(144, 196, 196);
    border: 1px solid rgb(133, 155, 155);
}

button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(87, 87, 87);
}

.button:hover {
    box-shadow: 0 0 15px 2px rgb(87, 87, 87);
}

.button:active {
    box-shadow: 0 0 10px 3px rgb(87, 87, 87);
    transform: scale(0.98);
    background-color: rgb(189, 188, 188);
    color: white;
}

.button-pressed {
    box-shadow: 0 0 10px 3px rgb(87, 87, 87);
    transform: scale(0.98);
    background-color: rgb(189, 188, 188);
    color: white;
}

.main-body {
    background-color: white;
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
}

.footer {
    text-align: center;
    border-top-width: 2px;
    border-top-style: solid;
    padding: 0 20px 20px;
}

.footer p {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 15px;
    background-color: rgb(144, 196, 196);
    border: 1px solid rgb(133, 155, 155);
}