body {
    margin: 0;
}
h2, h3, h4 {
    color:rgb(0, 75, 0);
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

p {
  color: grey;  
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
    color: rgb(1, 114, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration:  none;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(15, 102, 15);
    padding: 0;
    margin: 0;
}

.header-footer-font {
    background-color: rgb(230, 243, 230);
    border-top: 1px solid rgb(133, 187, 133); 
}

.main-header {
    padding: 2%;
    margin: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(133, 187, 133);  
}

.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid rgb(49, 189, 49);
    transform: rotate(-3deg);
    box-shadow: 5px 5px 10px 2px rgb(214, 214, 214);
    width: 18%;
    box-sizing: border-box;
}

.logo h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 180%;
}

.logo p {
    font-size: 70%;
    color:rgb(5, 128, 5);
}

.inner-logo {
    transition-duration: 0.5s;
}

.inner-logo:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.account-block {
    display: flex;
    width: 20%;
    gap: 8%;
}

.account-block a {
    font-size: 90%;
    padding: 5%;
    max-height: 20%;
    transition-duration: 0.3s;
}

.account-block a:hover {
    border-radius: 4px;
    background-color: rgb(166, 229, 166);
    transform: background-color;
    transition-duration: 0.1s;
}

.header-nav {
    margin: 1.5% 0 0 0;
    border-radius: 3px;
    border: 1px solid rgb(49, 189, 49);
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.nav-menu {
    display: flex;
    padding: 1%;
}

.nav-menu a {
    padding: 1%;
    margin: 0 1%;
    transition-duration: 0.4s;
}

.nav-menu a:hover {
    border-radius: 4px;
    background-color: rgb(166, 229, 166);
    transform: background-color;
    transition-duration: 0.1s;
}

.nav-deals {
    display: flex;
    justify-content: space-around;
    padding: 4%;
    text-align: center;
}

.nav-deals a {
    padding: 4%;
    margin: 0 1%;
    background-color: rgb(255, 153, 0);
    color: white;
    border-radius: 4px;
}

.nav-deals a:hover {
    background-color: rgb(199, 122, 7);
}

#selected {
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(166, 229, 166);
}

#main {
    padding-bottom: 1%;
    box-sizing: content-box;
}
.main {
    padding: 2% 4%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 3%;
    background-color: rgb(250, 255, 250);
    box-sizing: content-box;
}

.left-sidebar div {
   margin-bottom: 10%;
}

.block {
    border:1px solid rgb(183, 219, 183); 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10%;
    box-shadow: 0 0 3px 1px rgb(238, 238, 238);
}

.block a {
    font-size: 90%;
    color: rgb(62, 119, 62);
    display: block;
    border-radius: 4px;
    padding: 3%;
    margin: 2% 0;
    transition-duration: 0.5s;
}

.block a:hover {
    background-color: rgb(217, 238, 217);
    padding-left: 6%;
    transform: padding-left;
    transition-duration: 0.5s;
}

.block h3 {
   font-family: Arial, Helvetica, sans-serif; 
   border-bottom: 1px solid rgb(183, 219, 183); 
   padding-bottom: 5%;
   margin-bottom: 2%;
}

.block p {
    font-size: 80%;
    margin-top: 3%;
    color:rgb(70, 70, 70);
}

.block input {
   padding: 3%; 
   border-radius: 4px;
   border: 0.5px solid grey;
}

.block input:focus {
    box-shadow: 0 0 2px 3px rgb(179, 212, 179);
    outline: none;
    border-color: rgb(122, 185, 122);
}

 button {
    border-radius: 4px;
    color: white;
    background-color: rgb(15, 177, 15);
    border: none;
    padding: 5%;
}

button:hover {
    background-color: green;
}

#base-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    padding-bottom: 2%;
}

.base-block {
    border:1px solid rgb(183, 219, 183); 
    border-radius: 8px;
    background-color: white;
    padding: 4%;
    box-shadow: 0 0 3px 1px rgb(238, 238, 238);
    transition-duration: 0.3s;
}

.base-block:hover {
    translate: 0 -5px ;
    transition-duration: 0.3s;
    box-shadow: 0 3px 10px 2px rgb(202, 202, 202);
}

.base-block p {
    font-size: 80%;
    margin-top: 3%;
    color:rgb(70, 70, 70);
}

.base-block h3 {
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 130%;
}

.base-block .cost {
    color: green;
    font-weight: bold;
    font-size: 140%;
}

.base-block button {
    display: block;
    width: 100%;
    padding: 3%;
    font-size: 110%;
}

.base-block p {
    font-size: 100%;
}

.footer-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3%;
}

.footer-block {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.footer-block h4 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 120%;
    margin-bottom: 5%;
}

.footer-block a {
    margin: 3% 0;
}

.footer-block a:hover {
    text-decoration: underline;
    color: rgb(153, 185, 153);
}

.separator {
    min-height: 120px;
}

.footer-info {
    text-align: center;
    padding-bottom: 1%;
}

.footer-info a:hover {
    text-decoration: underline;
}