table {
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 4px;
    font-weight: bold;
    background-color: rgb(190, 190, 190);
}

td {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 4px;
}

.year {
    text-align: center;
}

button {
    margin-right: 200px;
}

.baseTable {
    display: none;
}

.genTable  {
    display: none;
}
