* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}

.header {
    height: 15%;
    background-color: rgb(228, 241, 228);
    text-align: center;
    z-index: 0;
    padding-top: 2%;
}

.tasks {
    padding: 1%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(159, 190, 159);
}

.tasks button {
    margin-top: 2%;
    padding: 0.5% 1%;
    border-radius: 4px;
    background-color: rgb(148, 206, 148);
    border: none;
}

.tasks button:hover {
    color: white;
    background-color: green;
}

.tasks button:active {
    font-weight: bold;
    box-sizing: border-box;
}

.shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(19, 19, 19, 0.6);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution {
    height: 80%;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 50px 5px rgb(46, 46, 46);
}

.solution p {
    padding: 4% 4% 0;
    text-align: justify;
}

.footer {
    height: 6%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(228, 241, 228);
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    border-top: 1px solid rgb(159, 190, 159);
}

#solution-header {
    padding: 2%;
    background-color: rgb(240, 240, 240);
    margin-bottom: 4%;
}

#solution-inner p {
    text-align: center;
    padding: 1% 1%;
}

#solution-inner button {
    padding: 1% 2%;
}

#solution-inner input {
    padding: 1%;
}

#close {
    float: right;
    margin: 2%;
    border-radius: 50%;
    padding: 0.5% 1%;
    border: 1px solid black;
}

#close:hover {
    font-weight: bold;
}

#close:active {
    background-color: silver;
}

.ball-zone {
    display: block;
    height: 100%;
    width: 100%;
}

.ball {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    margin-top: 10%;
    animation-name: ball-roll, ball-color;
    animation-duration: 5s, 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ball-roll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2000%);
    }
    100% {
        transform: translateX(0);
    }
    
}

@keyframes ball-color {
    from{
        background-color: red;
    }
    to {
        background-color: blue;
    }
    
}

.hoverLink {
    position: absolute;
    z-index: 99;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(156, 156, 156);
    white-space: nowrap;
    padding: 5px;
    border-radius: 4px;
}